{% extends "main.html" %}
{% block content %}


<script type="text/javascript">
	document.body.setAttribute("id", "oneItem");
</script>


<form action="{{url_for('editMenuItem',restaurant_id=restaurant_id, item_id=item.id)}}" method = 'post'>


	<p>Name:</p>
		<input required type ='text' size='30' name='name' placeholder = '{{item.name }}'>
	<p>Description:</p>
		<input required type ='text' size='30' name='description' placeholder = '{{item.description}}'>
	<p>Price:</p>
		<input required type ='number' size='30' name='price' placeholder = '{{item.price}}'>
	<p>Course:<p>

	{% if item.course == 'Appetizer' %}
		<dd><input required type ='radio' name='course' value='Appetizer'checked >Appetizer</dd>
	{%else%}
	<dd><input required type ='radio' name='course' value='Appetizer' >Appetizer</dd>
    {% endif %}

    {% if item.course == 'Entree' %}
       <dd><input required type ='radio' name='course' value='Entree' checked>Entree</dd>

    {%else%}
		<dd><input required type ='radio' name='course' value='Entree'>Entree</dd>
    {% endif %}

	{% if item.course == 'Dessert'%}
		<dd><input required type ='radio' name='course' value='Dessert'checked >Dessert</dd>

	{% else %}
	   <dd><input required type ='radio' name='course' value='Dessert'>Dessert</dd>

	{% endif %}


	{%if item.course =='Beverage'%}
		<dd><input required type ='radio' name='course' value='Beverage'checked >Beverage</dd>
	{% else %}
		<dd><input required type ='radio' name='course' value='Beverage'>Beverage</dd>
	{% endif %}



<a href = '{{url_for('showRestaurant', restaurant_id = restaurant_id) }}'><input type="button" value="cancel" /></a>
<input type='submit' value='Edit'>



</form>
{% endblock %}
