<!DOCTYPE html>
<html>
<head>

<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>

<!-- Initialize the GoogleAuth object -->
<script>
  function start() {
    gapi.load('auth2', function() {
      auth2 = gapi.auth2.init({
        client_id: '830596124419-4jti0ntdo71t3i53la71rot3f45rfo76.apps.googleusercontent.com',
        // Scopes to request in addition to 'profile' and 'email'
        //scope: 'additional_scope'
      });
    });
  }
</script>
<script src="https://apis.google.com/js/platform.js?onload=start"></script>

<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->

</head>


<body>  


<!-- GOOGLE PLUS SIGN IN/out BUTTONS-->

<button id="signinButton">Sign in with Google</button>

<a href="#" onclick="signOut();">Sign out</a>

<!--END GOOGLE PLUS SIGN IN/out BUTTONS -->

<script>
  $('#signinButton').click(function() {
    auth2.grantOfflineAccess().then(signInCallback);
  });  

  function signOut() {
    var auth2 = gapi.auth2.getAuthInstance();
    auth2.signOut().then(function () {
      console.log('User signed out.');
    });
  }

  function signInCallback(authResult) {
    if (authResult['code']) {

      // Hide the sign-in button now that the user is authorized, for example:
      $('#signinButton').attr('style', 'display: none');

      // Send the code to the server
      $.ajax({
        type: 'POST',
        url: '/gconnect?state={{STATE}}',
        processData: false,
        data: authResult['code'],
        contentType: 'application/octet-stream; charset=utf-8',
        // Always include an `X-Requested-With` header in every AJAX request,
        // to protect against CSRF attacks.
        headers: {
          'X-Requested-With': 'XMLHttpRequest'
        },
        success: function(result) {
          // Handle or verify the server response.

          if (result) {
            $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...');
            setTimeout(function() {
              window.location.href = "/restaurants";
              // console.log('redirected');
            }, 4000);            
          } else if (authResult['error']) {
            console.log('There was an error: ' + authResult['error']);
          }
        }
      });

    } else {
      // There was an error.
      $('#result').html('Failed to make a server-side call. Check your configuration and console.');
    }
  }
</script>

</body>

</html>
