{% extends "main.html" %}
{% block content %}


<script type="text/javascript">
	document.body.setAttribute("id", "oneItem");
</script>

<div class="content">
	<div class="card card-shadow">
		<div class="title">
			<a href="#">{{item.name}}</a>
			<span>{{item.price}}</span>
		</div>
		<div class="text">
			{{item.description}}
		</div>
		<div class="buttons">
			<a class="button" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, item_id=item.id ) }}">Edit</a>
			<a class="button" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, item_id=item.id ) }}">Delete</a>
		</div>
	</div>
</div>

{% endblock %}
