{% extends "main.html" %}
{% block content %}

		
		
		
    {% if items !=[] %}

	<div class = "center">
		<h2>Appetizers</h2>
	</div>
	<div class="content">

		{% for i in items %}
		{% if i.course == 'Appetizer' %}
		<div class="card card-shadow">
			<div class="title">
				<!-- <a href="#">Testing 2dp</a> -->
				<a href = "{{url_for('showMenuItem', restaurant_id = restaurant.id, item_id = i.id)}}"><p>{{i.name}}</p></a>
				<span>{{i.price}}</span>
			</div>
			<div class="text">
				{{i.description}}
			</div>
			<div class="buttons">
				<a class="button" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, item_id=i.id ) }}">Edit</a>
				<a class="button" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, item_id=i.id ) }}">Delete</a>
			</div>
		</div>
		{% endif %}

		{% endfor %}
	</div>
<hr>


		

		</br></br>

	<div class = "center">
		<h2>Entrees</h2>
	</div>
	<div class="content">

		{% for i in items %}
		{% if i.course == 'Entree' %}

		<div class="card card-shadow">
			<div class="title">
				<!-- <a href="#">Testing 2dp</a> -->
				<a href = "{{url_for('showMenuItem', restaurant_id = restaurant.id, item_id = i.id)}}"><p>{{i.name}}</p></a>
				<span>{{i.price}}</span>
			</div>
			<div class="text">
				{{i.description}}
			</div>
			<div class="buttons">
				<a class="button" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, item_id=i.id ) }}">Edit</a>
				<a class="button" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, item_id=i.id ) }}">Delete</a>
			</div>
		</div>
        {% endif %}

		{% endfor %}
	</div>
<hr>

		
		

		</br></br>

	<div class = "center">
		<h2>Desserts</h2>
	</div>
	<div class="content">

		{% for i in items %}
		{% if i.course == 'Dessert' %}

		<div class="card card-shadow">
			<div class="title">
				<!-- <a href="#">Testing 2dp</a> -->
				<a href = "{{url_for('showMenuItem', restaurant_id = restaurant.id, item_id = i.id)}}"><p>{{i.name}}</p></a>
				<span>{{i.price}}</span>
			</div>
			<div class="text">
				{{i.description}}
			</div>
			<div class="buttons">
				<a class="button" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, item_id=i.id ) }}">Edit</a>
				<a class="button" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, item_id=i.id ) }}">Delete</a>
			</div>
		</div>
		{% endif %}

		{% endfor %}
	</div>
<hr>

		
		

		</br></br>

	<div class = "center">
		<h2>Beverages</h2>
	</div>
	<div class="content">

		{% for i in items %}
		{% if i.course == 'Beverage' %}

		<div class="card card-shadow">
			<div class="title">
				<!-- <a href="#">Testing 2dp</a> -->
				<a href = "{{url_for('showMenuItem', restaurant_id = restaurant.id, item_id = i.id)}}"><p>{{i.name}}</p></a>
				<span>{{i.price}}</span>
			</div>
			<div class="text">
				{{i.description}}
			</div>
			<div class="buttons">
				<a class="button" href="{{url_for('editMenuItem', restaurant_id = restaurant.id, item_id=i.id ) }}">Edit</a>
				<a class="button" href="{{url_for('deleteMenuItem', restaurant_id = restaurant.id, item_id=i.id ) }}">Delete</a>
			</div>
		</div>
		{% endif %}

		{% endfor %}
	</div>

<hr>

<div id="new">
	<a  class="button" href="{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">Create A New Menu Item</a>
</div>

		
		

		{% else %}
		<p> You currently have no menu items. <p>
		<div id="new">
			<a  class="button" href="{{url_for('newMenuItem', restaurant_id = restaurant.id )}}">Create A New Menu Item</a>
		</div>
			{% endif %}

{% endblock %}
